<div class="container">
  <div class="row">
    <div class="col px-0">
      <h1><%= @category.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col px-0">
      <% @post.each do |post| %>
        <ul>
          <li><%= link_to post.title, post %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>